*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container{
    align-items: center;
    background-color: rgba(0,0,0,.25);
    border: 2px solid black;
    margin: 2rem;
}

.header{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    border: 1px green  solid;
    width: 100%;
    padding: 1.5rem;
}

.body-cont{
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    padding:1rem;
   

}
.subword{
    grid-column: 1/2;
}
.img{
    grid-column: 2/3;
    grid-row: 2/4;
    height: 200px;
}

.bottom-container{

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3 rem;
   
 

}
.bottom-container h3{
    grid-column: 1/4;
}

.bottom-container div{
    height: 300px;
    border: 1px solid black;
   
}